body {
	background-color: ##fbfbfa;
}

/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.alert {
	/**/
	margin-top: 10px;
}

#footer {
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}

/* Group Selector */
#group-selector {
	margin-top: 30px;
}

#group-selector select {
	margin: 0;
	width: 65%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

#head_base {
	/*border: 2px solid #cccccc;*/
}

#add_relative {
	/*border: 2px solid #cccccc;*/
	margin-top: 20px;
}

#myImg {
	margin: 0px;
	padding-bottom: 10px;
}

.floating-box {
	float:left;
	margin:10px;
	width:360px;
}

.after-box {
	clear:left;
}

#outBox, .floating-box {
	outline:red dashed 0;
}

#outBox {
	padding: 10px;
}

.surnames {
	list-style-type:none;
	font-size: 30px;
}

#leftUl {;
	text-align: right;
	padding-right:30px;
}

.text-info {
	font-size:20px;
}
