{% extends "families/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Покоління{% endblock meta_title %}

{% block title %}Покоління{% endblock title %}


{% block content %}
<div align="right" class="addthis_toolbox col-4 mt-1">
	   <!--addthis:description="Test: <br><ul><li>advantage</li><li>advantage2</li></ul>"-->
<!--&gt;-->
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_twitter"></a>
	<a href="https://www.instagram.com/innovative_com_ua/" target="_blank"></a>
	<a class="addthis_button_google_plusone_share"></a>
</div>

{% for main_person in main_relatives %}
<!-- Start Relatives' Listing -->
<h3>{% block quarter %}{{ main_person.person }}{% endblock quarter %}</h3>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th><a href="#">№</a></th>
			<th><a href="#">Представники покоління</a></th>
	</thead>
	<tbody>
		{% for generation in main_person.generations %}
		<tr>
			<td>{{ generation.id }}</td>
			<td>
				{% for relative in generation.relatives %}
				{{ relative }},
				{% endfor %}
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
<!-- End Relative Listing -->
{% endfor %}
{% endblock content %}

{% block extra_js %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b0e9e1af6a5fcbe"></script>
<script type="text/javascript">
var addthis_share = {
   url: "https://instor.com.ua/bluedio-t2-bluetooth-naushniki-vstroennoe-radio-i-podderzhka-sd-card-id84",
   title: "THE TITLE",
   description: "Test: <br><ul><li>advantage</li><li>advantage2</li></ul>",
   image: "https://images-na.ssl-images-amazon.com/images/I/71A9FHT05GL._SY445_.gif"
}
</script>

{% endblock extra_js %}
