{% extends "families/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Інформація{% endblock meta_title %}

{% block title %}Історія, Інформація{% endblock title %}

{% block content %}
<p class="text-info">
	Усім привіт, вітаю Вас на своїй сторінці!
	Я, Ігнатенко Сергій, даний сайт повинен дати уявлення про моїх родичів. Хочу знати якомога більше їх.
	За допомогою сайту буде легше пояснити дітям хто є хто (і не лише дітям)!
</p>
<div>
	<img id="myImg" src="{% static 'img/g2.jpg' %}" alt="Me" height="479" width="360" />
</div>
<p> Величайший в мире страх — это страх перед мнениями других.
	В то мгновение, когда ты не боишься толпы, ты больше не овца, ты становишься львом.
	Великий рев раздается в твоем сердце — рев свободы.
</p>
{% endblock content %}
